---
import { Image } from "astro:assets";
import Social from "./Social.astro";
import Button from "./Button.astro";
---

<div
  class="h-screen mt-4 flex flex-col lg:flex-row gap-6 items-center justify-center"
>
  <div>
    <Image
      src="/images/diego-profile-photo.webp"
      width={200}
      height={200}
      alt="Profile Picture"
      loading="lazy"
      class="rounded-full w-[200px] lg:w-[300px]"
    />
  </div>
  <div>
    <h1 class="text-2xl lg:text-4xl">
      Hi there!<br />
      <span class="text-4xl lg:text-6xl"
        >I'm <span class="hero-name">Diego Lara Carvajal</span></span
      >
    </h1>
    <p class="text-xl lg:text-2xl">
      A dedicated <strong>Web Developer</strong> based in <strong
        >Vancouver, BC</strong
      >.
    </p>
    <div class="flex gap-3">
      <Social />
    </div>
    <div class="mt-8 flex justify-center lg:justify-start">
      <Button
        href="https://www.linkedin.com/in/dlaracarvajal/"
        label="Contact Me"
        iconName="mdi:file-document-edit-outline"
      />
    </div>
  </div>
</div>
