---
import { Icon } from "astro-icon/components";
const { text, href, target = "_self" } = Astro.props;
---

<a
  href={href}
  target={target}
  rel={target === "_blank" ? "noopener noreferrer" : undefined}
  class="linkComponent inline-flex items-center font-medium hover:underline"
>
  {text}
  <Icon name="mdi:arrow-right" />
</a>
