---
const links = [
  { label: "Experience", href: "/#experience" },
  { label: "Projects", href: "/#projects" },
  { label: "About", href: "/#about" },
  { label: "Education", href: "/#education" },
  { label: "Contact", href: "/#contact" },
];
---

<nav class="hidden md:flex">
  <ul class="flex gap-10">
    {
      links.map((link) => (
        <li class="navBarLinks">
          <a href={link.href}>{link.label}</a>
        </li>
      ))
    }
  </ul>
</nav>
