---
const links = [
  { label: "Experience", href: "/#experience" },
  { label: "Projects", href: "/#projects" },
  { label: "About", href: "/#about" },
  { label: "Contact", href: "/#contact" },
];
---

<nav>
  <ul class="flex gap-10">
    {
      links.map((link) => (
        <li>
          <a href={link.href} class="navBarLinks">{link.label}</a>
        </li>
      ))
    }
  </ul>
</nav>
