---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}
// Supports weights 100-700 - Title Font
import "@fontsource-variable/josefin-sans";
// Body Font
import "@fontsource/fira-sans/300.css";
import "@fontsource/fira-sans/700.css";

import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/src/icons/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="py-4 px-6 max-w-7xl mx-auto">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    background-color: #f1f5f9;
    scroll-behavior: smooth;
  }
  html.dark {
    background-color: #1e293b;
    color: #fff;
  }

  body {
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Josefin Sans Variable", sans-serif;
  }

  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .dark #experience h3,
  .dark #projects h3,
  .dark #education h3,
  .dark #about strong,
  .dark #about b,
  .dark .hero-name,
  .dark .navBarLinks:hover {
    color: #dfb457fe;
  }

  .navBarLinks,
  .socialIcons {
    transition:
      transform 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }

  .navBarLinks:hover,
  .socialIcons:hover {
    transform: scale(1.2);
  }

  .button {
    transition:
      transform 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.1);
  }

  .footerLinks:hover {
    text-decoration-line: underline;
  }

  .linkComponent {
    color: #2563eb;
  }

  .dark .linkComponent {
    color: #93c5fd;
  }
</style>
